/*
Siren Them v3.0
File Name: Collect Styles
File Purpose: Collect the advanced styles
File Notes: 
- This is built from mobile Up
- All the initial style are for mobile views and everything else is brought in through media-queries
*/
/**
Siren Framework v2.0
File Name: Mixins
File Purpose: This file contains mixins
File Notes: 
Yeah yeah, I know. I took a lot of these from Chris Coyier
*/
/*File Notes: 
*/
/**
Siren Framework v2.5
File Name: Enhanced Core Styles
File Purpose: Element styling on top of basic style sheet
File Notes: 
*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/polyfills/boxsizing.htc);
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  *behavior: url(../js/polyfills/boxsizing.htc);
}

body {
  margin: 0;
  color: black;
}

/* Links */
a {
  text-decoration: none;
  color: #afafaf;
}
a:hover, a:focus, a:active {
  color: #898989;
}
a:focus {
  outline: 0;
}
a:focus img {
  border: 1px #afafaf solid;
}

/* Headers */
h1 {
  font-size: 2.64754em;
  line-height: 1.13313em;
}

h2 {
  font-size: 1.63627em;
  line-height: 1.83344em;
}

h3 {
  font-size: 1.01127em;
  line-height: 1.48328em;
  text-transform: none;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
}

/* Content */
section, article, header, footer {
  padding: 0 1em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  max-width: 48em;
  margin-bottom: 1.5em;
}

/* Lists */
ol, ul, li {
  font-size: 1em;
  line-height: 1.5em;
}

/* Text-level semantics */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content */
svg:not(:root) {
  overflow: hidden;
}

/*Grouping content*/
pre {
  overflow: auto;
}

/*File Notes: */
.aligncenter, div.aligncenter, .aligncenter {
  display: block;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  max-width: 96%;
}

.wp-caption img {
  height: auto;
  width: auto;
  max-width: 98.5%;
}

/**
Siren Framework v2.0
File Name: Forms
File Purpose: The standard stylings for forms
File Notes: 
*/
form {
  width: 100%;
}

.field-container {
  width: 100%;
  margin: 1em 0;
  clear: both;
  overflow: hidden;
}

input, textarea {
  font-size: 1em;
  border: 1px black solid;
  outline: 0;
  -webkit-appearance: none;
  width: 100%;
  padding: 5px;
}

input, select {
  height: 35px;
}

input:focus {
  color: #afafaf;
}

.select {
  background: url(../images/small_arrow.png) no-repeat right white;
  border: 1px black solid;
  width: 100%;
  height: 35px;
  position: relative;
  overflow: hidden;
}

select {
  font-size: 1em;
  background: transparent;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  border-radius: 0;
  width: 110%;
  padding: 2px;
}

textarea {
  height: 100px;
  resize: none;
  overflow: auto;
}

.checkbox_label, .checkbox {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  float: none;
  display: inline;
}

input[type='submit'] {
  text-align: center;
  background: white;
  cursor: pointer;
  width: 100px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
input[type='submit']:hover {
  color: #afafaf;
}

button {
  overflow: visible;
}

/**
Siren Framework v2.0
File Name: Header and Footer
File Purpose: Classes for the header and footer elements
File Notes: 
*/
.header-main {
  text-align: center;
  background: black;
  color: white;
  margin-bottom: 1.5em;
  padding: 1em;
  overflow: hidden;
}

.title-main_logo {
  margin: 0;
}

.nav-menu {
  max-height: 0px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.nav-menu.active {
  max-height: 999px;
}

.menu-item {
  list-style: none;
}
.menu-item a {
  color: white;
  padding: 10px 0;
  display: block;
}
.menu-item a:hover {
  color: #745050;
}

.nav-main_button {
  color: black;
  background: white;
  width: 100%;
  margin: 10px 0 0;
  padding: 10px 0;
  display: block;
}

.footer-main {
  text-align: center;
  background: black;
  color: white;
  margin-top: 1.5em;
  padding: 1em;
}

.footer-main_content {
  max-width: 100%;
  margin: 0;
}

/**
Siren Framework v2.0
File Name: Layout
File Purpose: Classes governing layout go in here
File Notes: 
Grid is brought in through media queries. These are the only media queries not allowed in the Responsive folder
*/
.row {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}

@media only screen and (min-width: 700px) {
  .col-half, .col-thrd {
    padding: 0 0.5em;
    float: left;
  }

  .col-half {
    width: 50%;
  }

  .col-thrd {
    width: 33.33333%;
  }
}
/**
Siren Framework v2.0
File Name: Header For Tablet or Greater
File Purpose: Classes for the header and footer elements
File Notes: 
*/
@media only screen and (min-width: 700px) {
  .title-main {
    float: left;
  }

  .nav-menu {
    margin-top: 3px;
    max-height: 100%;
    text-align: right;
  }

  .menu-item {
    display: inline;
    display: inline-block;
  }
  .menu-item a {
    padding: 1em;
  }

  .nav-main_button {
    display: none;
  }
}
/**
Siren Framework v2.0
File Name: Responsive
File Purpose: Media query calls go here
File Notes: 
*/
/**
Siren Framework v2.0
File Name: Print Styles
File Purpose: Styling corrections for printers
File Notes: The current standards are from Paul Irish's Boilerplate
*/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
