/********

Siren Framework v3.3

File Name: Enhanced Styles for Internet Explorer

File Purpose: Collect the advanced styles for IE8 and IE7 Fallback

File Notes: 
	- Does not include Media-Queries pertaining to browser size
	- All mediaqueries provided by Respond.js and so that is a dependency for this file


*********/
/*-------------------------*\
  #Mixins-Variables
\*-------------------------*/
/********

Siren Framework v3.3

File Name: Mixins

File Purpose: This file contains mixins

File Notes: 
  - Yeah yeah, I know. I took a lot of these from Chris Coyier

*********/
/*-------------------------*\
  #Cross-Browser
\*-------------------------*/
/*-------------------------*\
  #Layout
\*-------------------------*/
/*-------------------------*\
  #Typographic
\*-------------------------*/
/*-------------------------*\
  #Skin
\*-------------------------*/
/********

Siren Framework v3.3

File Name: Variables

File Purpose:

File Notes: 
	- Do not change the base font size


*********/
/*-------------------------*\
  #Global-Variables
\*-------------------------*/
/*-------------------------*\
  #Vetical-Rhythm-And-Modular-Scale
\*-------------------------*/
/*-------------------------*\
  #Colors
\*-------------------------*/
/*-------------------------*\
  #Fonts
\*-------------------------*/
/*-------------------------*\
  #Core
\*-------------------------*/
/********

Siren Framework v3.3

File Name: Enhanced Core Styles

File Purpose: Element styling on top of basic style sheet (basic/_core.scss)

File Notes: 
	- All elements are set to border-box model
	- Font-sizes dictated through the Modular Scale Compass plugin
	- Line-height and padding done through the Compass Vertical Rhythm system
	- section, article, header, footer by default have side padding. This can be removed.

*********/
/*-------------------------*\
	#Document-Level
\*-------------------------*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../js/polyfills/boxsizing.htc);
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  *behavior: url(../js/polyfills/boxsizing.htc);
}

body {
  margin: 0;
  color: black;
}

/*-------------------------*\
	#Links
\*-------------------------*/
a {
  text-decoration: none;
  color: #afafaf;
}
a:hover, a:focus, a:active {
  color: #898989;
}
a:focus {
  outline: 0;
}
a:focus img {
  border: 1px #afafaf solid;
}

/*-------------------------*\
	#Headers
\*-------------------------*/
h1 {
  font-size: 2.64754em;
  line-height: 1.13313em;
}

h2 {
  font-size: 1.63627em;
  line-height: 1.83344em;
}

h3 {
  font-size: 1.01127em;
  line-height: 1.48328em;
  text-transform: none;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
}

/*-------------------------*\
	#Block-Level-Content
\*-------------------------*/
section, article, header, footer {
  padding: 0 1em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  max-width: 48em;
  margin-bottom: 1.5em;
}

img {
  max-width: 100%;
}

/*-------------------------*\
	#Lists
\*-------------------------*/
ol, ul, li {
  font-size: 1em;
  line-height: 1.5em;
}

/*-------------------------*\
	#Inline-Content
\*-------------------------*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*-------------------------*\
	#Embeded-Content
\*-------------------------*/
svg:not(:root) {
  overflow: hidden;
}

/*-------------------------*\
	#Grouping-Content
\*-------------------------*/
pre {
  overflow: auto;
}

/********

Siren Framework v3.3

File Name: Forms

File Purpose: The standard echanced stylings for form elements.

File Notes: 

*********/
/*-------------------------*\
	#Form-Containers
\*-------------------------*/
form {
  width: 100%;
}

fieldset {
  width: 100%;
  margin: 1em 0;
  clear: both;
  overflow: hidden;
}

/*-------------------------*\
	#Inputs-Selects-Textarea
\*-------------------------*/
input, textarea {
  font-size: 1em;
  border: 1px black solid;
  outline: 0;
  -webkit-appearance: none;
  width: 100%;
  padding: 5px;
}

input, select {
  height: 35px;
}

/*-------------------------*\
	#Inputs
\*-------------------------*/
input:focus {
  color: #afafaf;
}

/*-------------------------*\
	#Selects
\*-------------------------*/
.select {
  background: url(../images/small_arrow.png) no-repeat right white;
  border: 1px black solid;
  width: 100%;
  height: 35px;
  position: relative;
  overflow: hidden;
}

select {
  font-size: 1em;
  background: transparent;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  border-radius: 0;
  width: 110%;
  padding: 2px;
}

/*-------------------------*\
	#Textarea
\*-------------------------*/
textarea {
  height: 100px;
  resize: none;
  overflow: auto;
}

/*-------------------------*\
	#Checkboxes-Radiobuttons
\*-------------------------*/
.checkbox_label, .checkbox {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  float: none;
  display: inline;
}

/*-------------------------*\
	#Submit-Buttons
\*-------------------------*/
input[type='submit'] {
  text-align: center;
  background: white;
  cursor: pointer;
  width: 100px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
input[type='submit']:hover {
  color: #afafaf;
}

button {
  overflow: visible;
}

/********

Siren Framework v3.3

File Name: Enhanced Wordpress Generated Classes

File Purpose: Classes created by Wordpress for the Enhanced View

File Notes: 

*********/
.aligncenter, div.aligncenter, .aligncenter {
  display: block;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  max-width: 96%;
}

.wp-caption img {
  height: auto;
  width: auto;
  max-width: 98.5%;
}

/*-------------------------*\
  #Objects
\*-------------------------*/
/********

Siren Framework v3.3

File Name: Header and Footer

File Purpose: Classes for the header and footer elements

File Notes: 
  - The header is designed to be a hamburger menu for the mobile view
	- The footer is kept simple by default

*********/
/*-------------------------*\
  #Header
\*-------------------------*/
.header {
  text-align: center;
  background: black;
  color: white;
  margin-bottom: 1.5em;
  padding: 1em;
  overflow: hidden;
}

.title_logo {
  margin: 0;
}

/*-------------------------*\
  #Navigation
\*-------------------------*/
.siteNav {
  max-height: 0px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.siteNav.active {
  max-height: 999px;
}

.menu-item {
  list-style: none;
}
.menu-item a {
  color: white;
  padding: 10px 0;
  display: block;
}
.menu-item a:hover {
  color: #745050;
}

.siteNav_button {
  color: black;
  background: white;
  width: 100%;
  margin: 10px 0 0;
  padding: 10px 0;
  display: block;
}

/*-------------------------*\
  #Footer
\*-------------------------*/
.footer {
  text-align: center;
  background: black;
  color: white;
  margin-top: 1.5em;
  padding: 1em;
}

.footer_content {
  max-width: 100%;
  margin: 0;
}

/*-------------------------*\
  #Layout
\*-------------------------*/
/********

Siren Framework v3.3

File Name: Layout

File Purpose: Element styling on top of basic style sheet (basic/_core.scss)

File Notes: 
	- Grid is brought in through media queries. 
	- Media queries should be brought into _responsive.scss for production

*********/
/*-------------------------*\
  #Rows
\*-------------------------*/
.row {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}

@media only screen and (min-width: 700px) {
  /*-------------------------*\
    #Layout-Columns
  \*-------------------------*/
  .col-half, .col-thrd {
    padding: 0 0.5em;
    float: left;
  }

  .col-half {
    width: 50%;
  }

  .col-thrd {
    width: 33.33333%;
  }
}
/*-------------------------*\
  #Misc
\*-------------------------*/
/********

Siren Framework v3.3

File Name: Print Styles

File Purpose: Styling corrections for printers

File Notes: 
  - The current standards are from Paul Irish's Boilerplate

*********/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
